<% @dish_types.each do |dish_type| %>
<p><%= dish_type.name %></p>

<a href="/dish_types/<%= dish_type.id %>/edit">edit</a>

<a href="<%= edit_dish_type_path(dish_type) %>">edit</a>
<%= link_to 'edit', edit_dish_type_path(dish_type.id) %>
<%= link_to 'edit', [:edit, dish_type] %>

<br>

<a href="/dish_types/<%= dish_type.id %>">show</a>

<%= link_to 'show', dish_type_path(dish_type.id) %>
<%= link_to 'show', dish_type %>

<% end %>