<h1>This is the welcome site</h1>

<h4>Upload an image - TEST PAGE</h2>

    <%= form_for @outfits do |f| %>

    <p>
      <%= f.label :picture %>
      <%= f.file_field :picture %>
    </p>
    <%= f.button 'Create' %>

  <% end %>

<BR /><BR />
<h4> Here's all your images - TEST PAGE</h4>

<% @outfits.each_with_index do |imageurl, i| %>
<p>
  IMAGE TITLE
</p><BR />
<img src="<%=@outfits[i][:photo][url]%>">
<BR /><BR />
<% end %>

<!-- Create is working. Will successfully write to DB
next step is to re-display image
then store image to AWS. Update the DB to store the now AWS img location -->
